/* Common styles for the navbar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1e1e1e;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.links ul li > * {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.btn {
    cursor: pointer;
    height: 30px;
    width: auto;
    font-weight: 600;
    border-radius: .5rem;
    background: rgba(128, 128, 128, 0.164);
    color: #fff;
    border: none;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .options {
        flex-direction: column;
        gap: 1rem;
    }

    .btns {
        flex-direction: column;
        gap: 1rem;
    }
}
