form {
    color: #fff;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    height: 40px;
    width: 100%;
    border-radius: .5rem;
    border: none;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
}

button {
    cursor: pointer;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.164);
    color: #fff;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
}
